

.navbar {
  width: 100%;
  height: 80px;
  background: rgb(195,88,34);
  background: linear-gradient(0deg, rgba(195,88,34,1) 0%, rgba(207,128,25,1) 100%);
  display: flex;
  flex-direction: row;
  z-index: 100;
  
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 125px;
}

.navbar .leftSide img {
  cursor: pointer;
  width: 150px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 810px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 810px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .Navbar .rightSide button {
    display: flex;
  }

  .Navbar .rightSide .links{
    display: none;
 }

 .Navbar .rightSide #hidden{
  position: absolute;
  left: 0px;
  top: 80px;
  height:230px;
  width:100%;
  max-height: 230px;
  background: rgb(238,210,174);
  background: radial-gradient(circle, rgba(238,210,174,1) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .Navbar .rightSide #hidden a{
    margin: 10px;
    font-size: 25px;
  }
}
